debug.png
yolov9c.pt
build/
pose_estimation.egg-info/
*__pycache__*
testv0/bboxes/
testv0/keypoints_2d/
testv0/keypoints_3d/
testv0/mano
testv0/meshes
testv0/params
testv0/repro_2d
testv0/repro_3d
ignore_camera.txt
_DATA/
sbatch_err/
sbatch_out/
debug*.png
debug*.ply
brics-mini
brics-studio
brics-mobile
data/smplx/smplx/SMPLX_NEUTRAL.npz
data/smplx/smplx/SMPLX_NEUTRAL.pkl
data/smplx/smplx/SMPLX_MALE.npz
data/smplx/smplx/SMPLX_MALE.pkl
data/smplx/smplx/SMPLX_FEMALE.npz
data/smplx/smplx/SMPLX_FEMALE.pkl
.claude/.nfs*